{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search{% endblock title %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
    <center>
 <h2>{{l}} product{{l|pluralize}} found</h2>
</center>
 <!-- Slider 1 -->
 <div class="owl-carousel" id="slider1">

  {% for b in product %}
  <a href="{% url 'product-detail' b.id %}" class="btn"><div class="item"><img src="{{b.product_image.url}}" alt="" height="200px"><span class="fw-bold">{{b.title}}</span><br><span class="fs-5">Rs. {{b.discounted_price}}</span></div></a>
  {% endfor %}
  
 </div>
</div>
<!-- End 1st Product Slider -->

{% endblock main-content %}

